<article
  class="Post Post--{{ post.type }} Post--{{
  post.meta(
    'size'
  )
  }} AppearFadeIn Delay"
  id="{{ post.id }}"
>
  <a href="{{ post.link }}" aria-label="{{ post.title }}" class="Post__Link">
    <div class="Post__Thumbnail">
      {% if post.thumbnail %}
        {% include 'partials/responsive-image.twig' with {
          image_id: post.thumbnail.id
        } %}
      {% endif %}
    </div>
    <h2 class="sr-only">{{ post.title }}</h2>
  </a>
</article>
