<article
  class="Post Post--{{ post.type }} AppearFadeIn Delay"
  id="{{ post.id }}"
>
  <a href="{{ post.link }}" aria-label="{{ post.title }}" class="Post__Link">
    <div class="Post__Thumbnail">
      {% if post.thumbnail %}
        {% include 'partials/responsive-image.twig' with {
          image_id: post.thumbnail.id
        } %}
      {% endif %}
    </div>
    <div class="Post__Content">
      <p class="Post__Meta">
        <span class="Post__Author">Posted by {{ post.author }}</span>
        <time class="Post__Date Date" datetime="{{ post.date('Y-m-d') }}">
          Posted on {{ post.date('d/m/y') }}
        </time>
      </p>

      {% for cat in post.terms('category') %}
        <span class="Post__Cat Pill">{{ cat.title }}</span>
      {% endfor %}

      <h2 class="Post__Title h4">{{ post.title }}</h2>

      <p class="Post__Excerpt">
        {{ post.excerpt.chars(180).force.read_more(false) }}
      </p>
    </div>
  </a>
</article>
