{% extends 'base.twig' %}
{% block content %}
  {% set currentID = fn('get_queried_object_id') %}
  {% set currentCatName = fn('get_cat_name', currentID) %}

  <div class="Container">
    <div class="Grid">
      <div class="News__Header">
        <h1 class="News__Title h2 AppearFadeIn Delay">
          {{ title }}
        </h1>
      </div>
    </div>

    <nav class="CatList AppearFadeIn Delay">
      <a href="{{ fn('get_post_type_archive_link', 'post') }}" class="Pill">
        All Categories
      </a>{% for cat in categories %}
        <a href="{{ cat.link }}"
          data-service="{{ cat.title|slugify }}"
          class="Pill {% if currentID == cat.id %}current{% endif %}">
          {{ cat.title }}
        </a>
      {% endfor %}
    </nav>

    <div class="News__List Grid Grid--mobile">
      {% for post in posts %}
        {% include 'post-types/post.twig' %}
      {% endfor %}
    </div>
    {% include 'partials/pagination.twig' with {
      pagination: posts.pagination({
        show_all: false,
        mid_size: 3,
        end_size: 2
      })
    } %}
  </div>
{% endblock %}
