{% extends 'base.twig' %}
{% block content %}
  <div class="Container">
    <div class="CaseStudy__Hero">
      {% if post.thumbnail %}
        {% include 'partials/responsive-image.twig' with {
          image_id: post.thumbnail.id,
          class: 'Single__Thumbnail'
        } %}
      {% endif %}

      <h1 class="sr-only">{{ post.title }}</h1>
    </div>

    <div class="CaseStudy__Header">
      <div class="CaseStudy__Intro ugc">
        {{ post.meta('intro') }}
      </div>

      <div class="CaseStudy__Details ugc">
        <h2>The Problem</h2>
        {{ post.meta('the_problem') }}

        <h2>The Solutuon</h2>
        {{ post.meta('the_solution') }}

        {% set buttonObj = {
          url: post.meta('full_case_study_link'),
          title: 'View full case study',
          target: true
        } %}

        {% include 'partials/button.twig' with {
          button: buttonObj,
          buttonHollow: false,
          class: ''
        } %}
      </div>
    </div>
  </div>

  {{ post.content }}
{% endblock %}
