{% extends 'base.twig' %}
{% block content %}
  <div class="Container">
    <div class="Single__Header">
      <h1 class="Single__Title h3">{{ post.title }}</h1>

      <p class="Post__Meta">
        <span class="Post__Author">Posted by {{ post.author }}</span>
        <time class="Post__Date Date" datetime="{{ post.date('Y-m-d') }}">
          Posted on {{ post.date('d/m/y') }}
        </time>
      </p>

      <div class="CatList">
        {% for cat in post.terms('category') %}
          <span class="Post__Cat Pill">{{ cat.title }}</span>
        {% endfor %}
      </div>

      {% if post.thumbnail %}
        {% include 'partials/responsive-image.twig' with {
          image_id: post.thumbnail.id,
          class: 'Single__Thumbnail'
        } %}
      {% endif %}
    </div>

    <div class="Single__Body ugc">
      {{ post.content }}
    </div>

    {% include 'newsletter-cta.twig' %}

    <div class="RelatedArticles">
      <h2 class="RelatedArticles__Title">Related Articles</h2>
      <div class="News__List Grid Grid--mobile">
        {% for post in related_posts %}
          {% include 'post-types/post.twig' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
