<footer class="Footer" aria-label="Footer" id="site-footer" data-appear>
  <div class="Container FooterContainer">
    <a href="{{ site.url }}" class="Footer__Logo h3">
      Everything you need. Nothing you don’t.
    </a>

    <div class="Footer__Contact">
      <h3>Contact</h3>
      <p class="Footer__Name">
        Ben Mott
      </p>
      <a class="Footer__Email" href="mailto:ben.mott@futurekings.co.uk">
        ben.mott@futurekings.co.uk
      </a>
      <p class="Footer__Name">
        Harry Bailey
      </p>
      <a class="Footer__Email" href="mailto:harry.bailey@futurekings.co.uk">
        harry.bailey@futurekings.co.uk
      </a>
    </div>

    <ul class="Footer__Menu">
      {% for item in footer_menu.items %}
        <li class="FooterMenu__Link">
          <a class="{{ item.classes|join(' ') }}" href="{{ item.link }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <small class="Footer__Legal">
      &copy; FutureKings Ventures Ltd {{ 'now'|date('Y') }}
    </small>
  </div>
</footer>
