<li class="{{ item_classes }} {{ (item.children|length > 0) ? 'has-sub-nav' }}">
  <a class="{{ item.classes|join(' ') }}" href="{{ item.link }}">
    {{ item.title }}
  </a>

  {% if (item.children|length) > 0 %}
    <span class="SubToggle SubToggle--sub-nav"
      data-sub-menu="{{ item.title|slugify }}--child-nav--{{type}}">
      {{ source(directory ~ 'images/arrow-right.svg') }}
    </span>
  {% endif %}

  {% if (item.children|length) > 0 %}
    <ul class="SubNav"
      id="{{ item.title|slugify }}--child-nav--{{type}}"
      aria-expanded="false"
      aria-label="{{ item.title }} Sub Pages">
      <li class="SubNav__Back">
        <button class="BackButton"
          data-sub-menu="{{ item.title|slugify }}--child-nav--{{type}}">
          {{ source(directory ~ 'images/arrow-right.svg') }} Back
        </button>
      </li>
      {% for child in item.children %}
        <li class="SubNav__Item {{(child.children|length > 0) ? 'has-sub-sub-nav'}}">
          <a class="{{ item.classes|join('') }}" href="{{ child.link }}">
            {{ child.title }}
          </a>

          {% if (child.children|length) > 0 %}
            <span class="SubToggle SubToggle--sub-sub-nav"
              data-sub-menu="{{ child.title|slugify }}--child-nav--{{type}}">
              {{ source(directory ~ 'images/arrow-right.svg') }}
            </span>
          {% endif %}

          {% if (child.children|length) > 0 %}
            <ul class="SubSubNav"
              id="{{ child.title|slugify }}--child-nav--{{type}}"
              aria-expanded="false"
              aria-label="{{ child.title }} Sub Pages">
              <li class="SubNav__Back">
                <button class="BackButton"
                  data-sub-menu="{{ child.title|slugify }}--child-nav--{{type}}">
                  {{ source(directory ~ 'images/arrow-right.svg') }} Back
                </button>
              </li>
              {% for child in child.children %}
                <li class="SubNav__Item">
                  <a class="{{ child.classes|join('') }}"
                    href="{{ child.link }}">
                    {{ child.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</li>
