{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Accordion__Header">
      {% if fields.eyebrow %}
        <span class="Accordion__Eyebrow SmallCaps AppearFadeMoveIn Delay">
          {{ fields.eyebrow }}
        </span>
      {% endif %}
      {% if fields.heading %}
        <h2 class="Accordion__Title AppearFadeMoveIn Delay">
          {{ fields.heading }}
        </h2>
      {% endif %}
      {% if fields.copy %}
        <div class="Accordion__Copy AppearFadeMoveIn Delay ugc">
          {{ fields.copy }}
        </div>
      {% endif %}
    </div>

    <div class="Accordion__List">
      {% for row in fields.rows %}
        <div class="Accordion__Item">
          <details name="collapsible-group" class="Accordion__Row">
            <summary class="Accordion__Title">
              <span role="term" aria-details="acc-{{ row.title|slugify }}">
                {{ row.title }}
              </span>
            </summary>
          </details>
          <div
            role="definition"
            id="acc-{{ row.title|slugify }}"
            class="content Accordion__Description"
          >
            <div class="Accordion__DescriptionContent ugc">
              {{ row.description }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
