{% extends 'block-layout.twig' %}
{% block block_content %}
  <div class="Container">
    <div class="Grid">
      <div class="MediaCardPanel__Header">
        {% if fields.eyebrow %}
          <span
            class="MediaCardPanel__Eyebrow SmallCaps AppearFadeMoveIn Delay"
          >
            {{ fields.eyebrow }}
          </span>
        {% endif %}
        {% if fields.heading %}
          <h2 class="MediaCardPanel__Title AppearFadeMoveIn Delay">
            {{ fields.heading }}
          </h2>
        {% endif %}
        {% if fields.copy %}
          <div class="MediaCardPanel__Copy AppearFadeMoveIn Delay ugc">
            {{ fields.copy }}
          </div>
        {% endif %}
      </div>
      {% if fields.cards %}
        <ul
          class="MediaCardPanel__Cards MediaCardPanel__Cards--{{
          fields.cards_per_row
          }} Grid"
        >
          {% for card in fields.cards %}
            <li
              class="MediaCardPanel__Card MediaCardPanel__Card--{{
              loop.index
              }} AppearFadeMoveIn Delay"
            >
              {% include 'partials/card.twig' with {
                card: card.card
              } %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}
