<div
  class="HomeSection HomeSection--cta"
  id="{{ id }}"
  data-bg="black"
  data-appear
>
  <a href="{{ url }}" class="Container Cta__Link">
    <span class="Cta__SubTitle SmallCaps">{{ subtitle }}</span>
    <h3 class="Cta__Title h3">{{ title }}</h3>
    <span class="Cta__Button Button Button--hollow">{{ buttonText }}</span>
  </a>
</div>
