<!DOCTYPE html>
<!-- [if lt IE 9]><html class= ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif] -->
<!-- [if IE 9]><html class="ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif] -->
<!-- [if gt IE 9]><! -->
<html {{ site.language_attributes }}>
  <!-- <![endif] -->

  {% include 'template-parts/html-header.twig' %}

  <body class="{{ body_class }}">
    {% if options.after_first_body_tag %}{{
      options.after_first_body_tag
    }}{% endif %}
    {{ function('wp_body_open') }}
    <a class="skip-link screen-reader-text" href="#content">
      {{ _e('Skip to content') }}
    </a>

    <span class="BodyBg">{{ source(directory ~ 'images/bg.svg') }}</span>

    {% include 'template-parts/site-header.twig' %}
    <main id="MainContent" role="main" class="MainContent">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </main>
    {% block footer %}
      {% include 'site-footer.twig' %}
    {% endblock %}

    {# Scripts #}
    {% if options.before_last_body_tag %}{{
      options.before_last_body_tag
    }}{% endif %}
    {{ function('wp_footer') }}
  </body>
</html>
