<!DOCTYPE html>
<html {{ site.language_attributes }}>
  {% include 'template-parts/html-header.twig' %}

  <body class="{{ body_class }}">
    {% if options.after_first_body_tag %}{{
      options.after_first_body_tag
    }}{% endif %}
    {{ function('wp_body_open') }}
    <a class="skip-link screen-reader-text" href="#content">
      {{ _e('Skip to content') }}
    </a>

    {{ source(directory ~ 'images/bg.svg') }}

    {% include 'template-parts/site-header.twig' %}

    <main id="smooth-wrapper" role="main" class="MainContent">
      <div id="smooth-content">
        {% block content %}
          Sorry, no content
        {% endblock %}
        {% include 'site-footer.twig' %}
      </div>
    </main>

    {# Scripts #}
    {% if options.before_last_body_tag %}{{
      options.before_last_body_tag
    }}{% endif %}
    {{ function('wp_footer') }}
  </body>
</html>
